
.center-block {
    float: none;    
}

.nav_head_down {
    margin-top: 15px;
}

.logo_height{
    height: 35px;
    margin-top: -7px;
}

.rules h4 {
    font-size: 14px;
    position: relative;
    left: 54px;
}

.rules p {
    position: relative;
    left: 54px;
    font-size: 12px;
}

.login_btn {
    height: 45px;
    width: 150px;    
}

.statistics {
    font-size: 12px; 
}

.statistics .success th {
    font-weight: normal;
} 

.board {
    text-align: center;
    margin: auto;
    width: 270px;
}
.board button {
    height: 80px;
    width: 80px;
    margin: 0px;
    padding: 0px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 3em
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 66.6%;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  margin: 0 auto;
}
